@import url("https://fonts.googleapis.com/css?family=Mozilla%20Text:700|Mozilla%20Text:400");
@import url("https://fonts.googleapis.com/css?family=Roboto%20Mono:700|Roboto%20Mono:400");
@import url("https://fonts.googleapis.com/css?family=M%20PLUS%201%20Code:700|M%20PLUS%201%20Code:400");

/* CSS reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --text: #fefddc;
  --background: #131301;
  --primary: #e7ef0b;
  --secondary: #00a55e;
  --accent: #3aaf08;
}

body {
  font-family: "Mozilla Text";
  font-weight: 400;
  background-color: var(--background);
  color: var(--text);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Mozilla Text";
  font-weight: 700;
}

html {
  font-size: 100%;
} /* 16px */

h1 {
  font-size: 4.21rem; /* 67.36px */
}

h2 {
  font-size: 3.158rem; /* 50.56px */
}

h3 {
  font-size: 2.369rem; /* 37.92px */
}

h4 {
  font-size: 1.777rem; /* 28.48px */
}

h5 {
  font-size: 1.333rem; /* 21.28px */
}

small {
  font-size: 0.75rem; /* 12px */
}

section {
  display: grid;
  place-items: center;
}

/* Log in page */
.form-container {
  width: 20rem;
  border-radius: 0.75rem;
  background-color: var(--background);
  padding: 2rem;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: var(--text);
  margin-bottom: 1rem;
}

.form {
  margin-top: 1.5rem;
}

.input-group {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.3rem;
}

.input-group label {
  display: block;
  color: rgb(175, 183, 197);
  margin-bottom: 4px;
}

.input-group input {
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid rgba(55, 65, 81, 1);
  outline: 0;
  background-color: rgba(17, 24, 39, 1);
  padding: 0.75rem 1rem;
  color: var(--text);
  height: 2.3rem;
}

.input-group input:focus {
  border-color: var(--secondary);
}

.signup a {
  color: #29d48b;
  text-decoration: none;
  font-size: 14px;
}

.sign {
  margin-top: 1.3rem;
  display: block;
  width: 100%;
  background-color: var(--primary);
  padding: 0.62rem;
  text-align: center;
  color: var(--background);
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
}

.signup {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
}

.msg-card {
  position: relative;
  margin-top: 2rem;
  background-color: #304b4c;
  padding: 1rem;
  z-index: 5;
  border-radius: 10px;
  max-width: 18.75rem;
  transition: 200ms ease-in-out;
  color: var(--text);
}

p.msg-title {
  color: var(--primary);
  font-size: 0.9em;
  font-weight: 600;
  margin-bottom: 0.85rem;
}

p.msg-content {
  font-size: 0.85em;
  margin: 0.2rem 0rem 0rem 0.5rem;
}

p.name {
  color: var(--secondary);
  font-size: 0.85em;
  font-weight: 600;
}

/* Sign up page */
.pwd-reminder {
  font-size: 0.7rem;
  margin: 0rem;
  font-style: italic;
  color: whitesmoke;
}

a.back-btn {
  margin-top: 0.8rem;
  display: block;
  width: 100%;
  background-color: var(--secondary);
  padding: 0.62rem;
  text-align: center;
  color: var(--text);
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
  text-decoration: none;
}

/* Errors */
.errors {
  margin-top: 1rem;
  color: #ff4545;
}

p.error {
  font-size: 0.85rem;
  font-style: italic;
}

/* New Message Form */
main.form {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

textarea {
  resize: none;
  overflow: auto;
  border-radius: 0.375rem;
  border: 1px solid rgba(55, 65, 81, 1);
  outline: 0;
  background-color: rgba(17, 24, 39, 1);
  padding: 0.75rem 1rem;
  color: var(--text);
}

textarea::-webkit-scrollbar {
  width: 0.7rem;
}

textarea::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}

textarea::-webkit-scrollbar-track {
  background-color: var(--secondary);
}

p.subtitle {
  margin-top: 1.5rem;
  font-size: 1.1rem;
  font-weight: 600;
}

/* Home */
p.main-msg {
  margin-top: 1.5rem;
  font-size: 1.3rem;
  font-weight: 600;
  font-family: "Roboto Mono";
}

button.del-btn {
  border: none;
  border-radius: 0.375rem;
  margin-top: 0.85rem;
  width: 40%;
  font-size: 0.9rem;
  background-color: var(--accent);
  color: var(--text);
}

p.fall-back-msg {
  margin-top: 4rem;
}

p.timestamp {
  font-size: 0.85rem;
  margin: 0.85rem 0.85rem;
  font-family: "M PLUS 1 Code";
}

html,
body {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
}

.show-menu {
  cursor: pointer;
}

input.checkbox-menu[type="checkbox"] {
  display: none;
  -webkit-appearance: none;
}

input.checkbox-menu[type="checkbox"]:checked ~ div.menu-block {
  opacity: 1;
  visibility: visible;
}

.nav-icon {
  display: inline-block;
  font-size: 1.5em;
  padding: 0.5em;
  vertical-align: middle;
}

.menu-block {
  display: inline-block;
  opacity: 0;
  vertical-align: middle;
  visibility: hidden;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

ul.navUL {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.navUL li {
  display: inline-block;
  padding: 0px 5px;
}

ul.navUL li a {
  color: #b5b4a6;
  display: block;
  padding: 3px;
  text-decoration: none;
}

ul.navUL li a:hover {
  color: #000000;
  text-decoration: none;
}

nav {
    margin: 1rem 0rem 0rem 1.5rem;
}